.logo{
  a {
    text-decoration: none;
  
    font-size: 2rem;
    font-weight: 600;
  
    color: #f2f2f2;
  
    span {
      color: #a8cc54;
    }
  
    img.portal {
      position: absolute;
      width: 70px;
      margin-top: -19px;
      margin-left: 0.3rem;
      top: 10px;
      left: 0;
      transform: translateX(160px);
    }
  }
}


.links {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 10rem;

    @media(max-width:500px) {
      width: 70vw;
    }

    img {
      height: 2rem;
    }

    a {
      opacity: 0.2;
      transition: 0.3s;
    }

    a:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }